RewriteEngine On
Options +FollowSymlinks

# Logout
RewriteRule	^logout$               index.php?view=logout	[L]

# Processing
RewriteRule	^process/(.*)               inc/process/process.php?pid=$1      [QSA,L]

#Views
RewriteRule	^$ index.php?view=home	[L]
RewriteRule	^app/(.*)$	index.php?view=$1	[L]

#Errors
RewriteRule	^error/([0-9]{3})$	index.php?view=error&code=$1	[L]

#Resources
RewriteRule	^resources/(.*)$	inc/assets/$1	[L]

#Others -> 404
RewriteRule	^(\w+)$	index.php?view=error&code=404	[L]
